#cardFace {
  z-index: 4;
  width: 10vw;
  height: 10vh;
  top: 90%;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  padding: 1em;
}
#cardFace:hover {
  cursor: pointer;
}
