@import "_keyframes";
@import "_variables";
@import "_stars";
@import "_cards";
@import "_cardFace";
@import "_guide";

* {
  margin: 0;
}

html {
  font-family: "Great Vibes", cursive;
  color: $primary-color;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 7pt;
  }
  .cardContainer {
    width: 650px;
    height: 442px;
  }
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 5pt;
  }
  .cardContainer {
    width: 325px;
    height: 221px;
  }
}
