* {
  margin: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

#memory {
  width: 100vw;
  height: 100vh;
  display: flex;
  // background-image: url("/img/background.jpg");
  // background-size: cover;
}
.cardContainer {
  margin: auto;
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  width: 1410px;
  height: 885px;
  justify-content: space-between;
}

.card {
  transition: 1.2s ease-in;
  transform-style: preserve-3d;
  position: relative;
  width: calc(20% - 20px);
  height: 50%;
  transform: rotateY(0deg);
}

img {
  width: 100%;
  max-height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(45, 45, 51);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(0deg);
}

.flip {
  transform: rotateY(180deg);
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: rgb(35, 35, 36) url("./img/stars.png") repeat top center;
  z-index: 0;
}
.twinkling {
  background: transparent url("./imgs/twinkling.png") repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}
